{% extends "base.html" %}

{% block content %}
<div class="container" style="text-align: center">
    <h1>Home</h1>
    <form method="post" id="config-form">
         {% csrf_token %}
        <label for="drop" data-toggle="tooltip" data-placement="top" title="Head Items"><b>Head Items</b></label>
        <select class="selectpicker form-control show-tick" data-title="Select something" data-live-search="true" name="drop" id="drop">
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="C">C</option>
        </select>
        <br>
        <br>
        <button type="submit" class="btn btn-primary mb-2">Do Stuff</button>
    </form>
</div>

{% endblock %}