{% extends "base.html" %}

{% block content %}
<div class="container-fluid" style="text-align: center">
    <br>
    <form method="post" id="config-form">
        {% csrf_token %}
        <h2>Choose Armor Items</h2>
        <div class="rounded border border-dark" style="padding-left:50px; padding-right:50px; padding-top:20px; padding-bottom:20px;">
            {% for slot, items in armor.items %}
            {% if forloop.first %}<div class="row">{% endif %}
            <div class="col-sm-4">
                <label for="drop_{{ slot }}" data-toggle="tooltip" data-placement="top" title="Head Items">{{ slot }}</label>
                {% if slot == "Ring" or slot == "Trinket" %}
                    <select class="selectpicker form-control show-tick" data-max-options="2" multiple data-title="Select {{ slot }} items..." data-live-search="true" data-style="" name="armor" id="drop_multiple_{{ slot }}">
                {% else %}
                    <select class="selectpicker form-control show-tick" data-title="Select {{ slot }} item..." data-live-search="true" data-style="" name="armor" id="drop_{{ slot }}">
                    <option value="">-</option>
                {% endif %}
                    {% for item in items %}
                    <option value="{{ item }}">{{ item }}</option>
                    {% endfor %}
                </select>
                <br>
            </div>
            {% if forloop.counter|divisibleby:3 %}</div><br><br><div class="row">{% endif %}
            {% if forloop.last %}</div>{% endif %}
            {% endfor %}
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-sm-8 offset-2">
                <input class="form-control" type="text" name="configFileName" placeholder="Insert config-file name" required>
            </div>
        </div>
        <br>
        <br>
        <button type="submit" class="btn btn-primary mb-2">Submit</button>
    </form>

</div>

{% endblock %}
