{% extends "base.html" %}

{% block content %}
<script src="../static/js/home.js"></script>

<div class="container-fluid" style="text-align: center">
    <h1>Config File Generator</h1>
    <br>
    <form method="post" id="load-file-form">
        {% csrf_token %}
        <div class="row">
            <div class="col-sm-4 offset-4">
                <div class="input-group">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="file_to_load" name="file_to_load" data-toggle="tooltip" data-placement="top" title="Not Yet Iplemented">
                        <label class="custom-file-label" for="file_to_load">Load Existing Configuration...</label>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-info mb-2" name="load_config" value="true" data-toggle="tooltip" data-placement="top" title="Not Yet Iplemented">Load</button>
        </div>
    </form>
    <br>
    <br>

    <form method="post" id="config-form">
        {% csrf_token %}

        <div class="row">
            <div class="col-sm-7">

                <div class="row">
                    <div class="col-sm-12">
                        <!-- ARMOR -->
                        {% include "components_old/armor.html" %}
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-12">
                        <!-- WEAPONS -->
                        {% include "components_old/weapons.html" %}
                    </div>
                </div>
            </div>

            <div class="col-sm-5">
                <div class="row">
                    <div class="col-sm-12">
                        <!-- TALENTS -->
                        {% include "components_old/talents.html" %}
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-12">
                        <!-- BUFFS -->
                        {% include "components_old/buffs.html" %}
                    </div>
                </div>
            </div>
        </div>

<!-- ------------------------------------       FILE HANDLING         -------------------------------------- -->
        <br>
        <div class="row">
            <div class="col-sm-6 offset-3">
                <h3><i>Config file name</i></h3>
                <input class="form-control" type="text" name="configFileName" placeholder="Insert config-file name" required>
            </div>
        </div>
        <button type="submit" class="btn btn-info mb-2" name="generate_config" value="true">Submit</button>
    </form>
</div>

{% endblock %}